body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.nav-container {
  display: flex;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.links {
  text-decoration: none;
  padding-left: 20px;
  color: white;
}

.info {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: rgb(56, 116, 195);
  color: white;
}

.carousel {
  background-color: rgba(140, 137, 136, 0.974);
}

.carousel img {
  margin: auto;
}

#features {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 50px 50px 50px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
